.main {
  position: absolute;
  left: 44.5%;
  top: 172.5%;

  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
}
.box-3 {
  position: absolute;
  left: 26%;
  top: 185.5%;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  text-align: center;

  color: #7d7987;
}
.svg-1 {
  position: absolute;
  width: 91.98px;
  height: 90px;
  left: 22.8%;
  top: 207.45%;
}
.text-1 {
  position: absolute;
  height: 90px;
  left: 22.8%;
  top: 219%;

  font-size: 12px;
}
.undertext-1 {
  position: absolute;
  height: 90px;
  left: 22.8%;
  top: 225%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.svg-2 {
  position: absolute;
  width: 91.98px;
  height: 90px;
  left: 43%;
  top: 208.2%;
}
.text-2 {
  position: absolute;
  height: 90px;
  left: 43%;
  top: 219%;

  font-size: 12px;
}
.undertext-2 {
  position: absolute;
  height: 90px;
  left: 43%;
  top: 225%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.svg-3 {
  position: absolute;
  width: 61.86px;
  height: 85px;
  left: 63.25%;
  top: 206.5%;
}
.text-3 {
  position: absolute;
  height: 90px;
  left: 63.25%;
  top: 219%;

  font-size: 12px;
}
.undertext-3 {
  position: absolute;
  height: 90px;
  left: 63.25%;
  top: 225%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.svg-4 {
  position: absolute;
  width: 91.98px;
  height: 90px;
  left: 22.9%;
  top: 247.65%;
}
.text-4 {
  position: absolute;
  height: 90px;
  left: 22.9%;
  top: 258.55%;

  font-size: 12px;
  line-height: 56px;
}
.undertext-4 {
  position: absolute;
  height: 90px;
  left: 22.9%;
  top: 266.5%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.svg-5 {
  position: absolute;
  width: 91.98px;
  height: 90px;
  left: 43.15%;
  top: 249.15%;
}
.text-5 {
  position: absolute;
  height: 90px;
  left: 43.15%;
  top: 258.55%;

  font-size: 12px;
  line-height: 56px;
}
.undertext-5 {
  position: absolute;
  height: 90px;
  left: 43.15%;
  top: 266.5%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.svg-6 {
  position: absolute;
  width: 91.98px;
  height: 90px;
  left: 63.3%;
  top: 248.4%;
}
.text-6 {
  position: absolute;
  height: 90px;
  left: 63.3%;
  top: 258.55%;

  font-size: 12px;
  line-height: 56px;
}
.undertext-6 {
  position: absolute;
  height: 90px;
  left: 63.3%;
  top: 266.5%;

  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  opacity: 0.8;
}
.button-3 {
  position: absolute;
  height: 54px;
  width: 200px;
  left: 45%;
  top: 287.6%;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  background: #ffffff;

  font-size: 18px;
  color: #458ff6;
}
